.ques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: var(--primary-font);
  font-size: var(--font-size-xmammoth);
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: var(--font-size-xhuge);
}

.option-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: inline;
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  background-color: var(--tertiary);
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.option-button:hover {
  background-color: var(--secondary);
}

.selected {
  background-color: var(--primary);
}
